# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
venv/
.env/
.envrc/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
*.swp
# =========================
# Python packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp
*.bak

# SQLite temporary files
*.db-journal

# =========================
# Office / LibreOffice temp files (Linux + Windows)
# =========================
.~lock.*#
~$*.pptx
~$*.docx
~$*.xlsx
